extends layout

block content
	//
		head		
			link(type="text/css",rel="stylesheet",href="/chessboard-0.3.0.css")
			link(type="text/css",rel="stylesheet",href="/highlightMoves.css")
	div.blockerDiv
	div#bodyGame
	div.mainRibbon
		div#checkRibbonWon
			| Check mate, You won!			
		div#checkRibbonLost
			| Check mate, You lost!
		div#drawRibbon
			| Draw!
		div#disconnectedRibbon
			| Opponent disconnected, you won!	
		div#opponentNoTime
			| Opponent no time, you won!
		div#youNoTime
			| You ran out of time, you lost!

		div#goBack
			a(href='/',class='ribbonLink')
				| Challenge someone else

	div#whiteBack
		div#contentGame
			div#waiting-opponent
			div#top-user.user
				div.userWrap
					div#foreingAvatar(class='pull-left avatar')
					div#foreingUser(class='userName')
				div.littleRibbons
					div#foreingTurn(class='lRibbon')
						| Opponent's turn
					div#foreingCheck(class='lRibbon check')
						| Check!
			div.gameElements
				div#foreingTimer(class='bro')
					| Timer: 01:00
				div#foreingPoints
					| 0 points
	
				div(id='board',style="width: 400px")
	
				div#localTimer(class='bro')
					| Timer: 01:00
				div#localPoints
					| 0 points
			div#bottom-user.user
				div.userWrap
					div#localAvatar(class='pull-left avatar')
					div#localUser(class='userName')

				div.littleRibbons
					div#localTurn(class='lRibbon turn')
						| Your turn
					div#localCheck(class='lRibbon check')
						| Check!
			div#yield-div
				form#form-game(method='post',action='/disconnection')
					input#send-button(type='submit',value='Yield!',class='yield btn btn-danger')
	//
		div.logoContainer#game_logo
			div#logo
				img(src='/img/sochesslog.png')
	script(type="text/javascript",src="/jquery.min.js")
	script(type="text/javascript",src="/chessboard-0.3.0.js")
	script(type="text/javascript",src="/style.js")
	script(type="text/javascript",src="/game/url_data.js")
	script(type="text/javascript",src="/chess.js")
	script(type="text/javascript",src="/socket.io-1.3.2.js")
	script(type="text/javascript",src="/sck.js")
	script(type="text/javascript",src="/main.js")
	script(type="text/javascript",src="/game/game_functions.js")
	script(type="text/javascript",src="/game/punctuation.js")
	script(type="text/javascript",src="/game/game_timer_functions.js")
	//
		script(type="text/javascript",src="/jquery.min.js")
		script(type="text/javascript",src="/socket.io-1.3.2.js")
		script(type="text/javascript",src="/sck.js")
		script(type="text/javascript",src="/chessboard-0.3.0.js")
		script(type="text/javascript",src="/main.js")
