extends layout

block content
	div#indexContent
		div.userMeta
			| Welcome 
			b
				@#{id}
			img.userTavatar(src='http://avatars.io/twitter/#{id}')
		div.logoContainer
			div#logo
				img(src='/img/sochesslog.png')
		form#form-create-game(method='post',action='/validation',class='center')
			input#user-id(type='hidden',name='userId',value='#{id}',readonly)
			div#challengueTittle(class='challengeCls')
				| Challenge a friend from Twitter
			div#challengeBox(class='challengeCls')
				| @ 
				input#user_challenge(type='text',name='uChallenge')
			div#challengeButton(class='challengeCls')
				input#send-button1(type='submit',value='Challenge',class='btn btn-primary btn-lg')
//
	| or connect to a game
	br
	br
	form#form-search-game(method='post',action='/validateGame')
		input#user-id(type='hidden',name='userId',value='#{id}')
		| Please insert game id: 
		input#game-id(type='text',name='idName')
		input#send-button2(type='submit')
