body
	html
		form#form-create-game(method='post',action='/validation')
			| Please your usrename: 
			input#user-id(type='text',name='userId')
			input#send-button1(type='submit')
		br
		form#form-search-game(method='post',action='/validateGame')
			| Please your usrename: 
			input#user-id(type='text',name='userId')

			| Please insert game id: 
			input#game-id(type='text',name='idName')

			input#send-button2(type='submit')
