.user{
	//width:100%;
	height:48px;
	margin-left: 10px;
}

.avatar img {
	margin-right:6px;
	border-radius:33px;
}

.userWrap{
	float:left;
}

#yield-div{
	float:left;
	width:100%;
	display:none;
}

#localTimer{
	display:none;
}

#foreingTimer{
	display:none;
}

#localPoints{
	display:none;
}

#foreingPoints{
	display:none;
}

.bro{
	float: left;
	margin-right: 18%;
}

.userName{
	padding-top:12px;
	float:left;
}

#contentGame{
	z-index:1;
//	margin-top:50px;
}

.gameElements{
	//margin-left:28%;
}

#form-game{
	text-align:center;
}

.yield{
  //margin-top: 4px;
}

#top-user{
	margin-bottom:12px;
}

#bottom-user{
//	margin-top:12px;
}

#bodyGame{
	background:url('/img/wooden-table-simple-wood-texture-cool_433670.jpg');
	z-index:-1;
	position:fixed;
	top:0px;
	bottom:0px;
	right:0px;
	left:0px;
}

#whiteBack{
	z-index: -1;
	width: 36%;
	background-color: rgba(255, 255, 255, 0.68);
	height: 506px;
	position: fixed;
	left: 34%;
	border-radius: 14px;
	padding-top: 11px;
}

.lRibbon{
	padding-top: 0px;
	font-weight: bold;
	font-size: 19px;
	position: relative;
	display:none;
}

.check{
	//margin-left: 46%;
	float:right;
}

.littleRibbons{
	float:right;
	margin-right:10px;
}

.turn{
//	margin-left: 43%;
}

#localTurn{
	color: rgb(24, 200, 24);
}

#localCheck{
	color: rgb(200, 24, 24);
}

#foreingTurn{
	color: black;
}

#foreingCheck{
	color: rgb(239, 255, 0);
}

.mainRibbon{
	font-size: 23px;
	z-index:2;
	display:none;
	width:27%;
	height:111px;
	background-color: rgba(255, 255, 255, 0.68);
	position:fixed;
	left:38.5%;
	border-radius: 14px;
	padding-top:5px;
}

#goBack{
}

#checkRibbonWon{
	margin-left: 16%;
	display:none;
}

#checkRibbonLost{
	margin-left: 16%;
	display:none;
}

#drawRibbon{
  margin-left: 40%;
	display:none;
}

#disconnectedRibbon{
	margin-left: 3%;
	display:none;
}

#opponentNoTime{
	margin-left:10%;
	display:none;
}

#youNoTime{
	margin-left:10%;
	display:none;
}

.ribbonLink{
	margin-left: 16%;
}

.blockerDiv{
	z-index: 1;
	background-color: rgba(255, 255, 255, 0);
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	display:none;
}

.loading{
	width: 43%;
	margin-top: -63px;
}

#waiting-text{	
	text-align: center;
	width: 35%;
	margin-left: 32%;
}

#waiting-opponent{
	font-size: 19px;
	text-align: center;
}

@media only screen and (min-width: 150px) and (max-width:580px){
	#whiteBack{
		width:94%;
		left:4%;
	}
	#waiting-text{
		width:57%;
	}
	#waiting-opponent{
		margin-left: 12%;
	}
	.loading{
		 margin-left: 16%;
	}
	#contentGame{
		margin-left: 19%;
	}
	#board{
	/*
		width: 79.5%!important;
		margin-left: 10%;
		*/
	}
	#foreingTurn	{
		margin-left:52%;
	}
	#localTurn{
		margin-left:57%;
	}
	.bro{
		margin-right: 20%;
		margin-left: 18%;
	}
	#yield-div{
		margin-left: 29%;
		width:0%;
	}
	.mainRibbon{
		width: 88%;
		left: 7.5%;
	}
	#goBack{
		text-align:center!important;
		margin-left:-21%!important;
	}
	#form-create-game{
		margin-left: 4%;
		width:93%;
	}
	.logoContainer{
		position:initial;
		float: right;
		background-color:initial;
	}
}
