#indexContent{
	background:url("/img/chess_2560x1600_230.jpeg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

#logo img{
	width: 86%;
  margin-left: 9%;
}

.logoContainer{
  background-color: rgba(255, 255, 255, 0.5);
  height: 76px;
  width: 26%;
  border-radius: 6px;
  margin-left: 37%;
  position: absolute;
  top: 21px;
}

#game_logo{
  top: 586px!important;
  width: 19%!important;
  height: 60px!important;
  left: 3%;
}

#form-create-game{
	background-color:rgba(255, 255, 255, 0.5);
	padding-bottom: 30px;
	padding-top: 30px;
	width: 35%;
	margin-left: 33%;
	border-radius: 14px;
	position: absolute;
}

.center{
	text-align:center;
}

.challengeCls{
	margin-top: 15px;
	margin-bottom: 7px;
}

#challengueTittle{
	font-weight: bold;
	font-size: 24px;
	width: 57%;
	margin-left: 20%;
}

#user_challenge{
	width: 88%;
	height: 37px;
	padding-left: 10px;
	border-radius: 6px;
}
